extends layout

block head
  link(rel="stylesheet", href="/stylesheets/add-word.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(src="/javascripts/add-word.js")
  meta(data-callback="#{callback}")

block content
  .title
    a.title-item.left(href="/") Menu
    if wordId
      a.title-item.right(href="/word/edit/#{wordId}") Update
    else
      a.title-item.right(href="/word/new") Add
  .form
    fieldset.entry.original
      legend Original
      .input(contenteditable="true", autofocus) #{original}
    fieldset.entry.translation
      legend Translation
      .input(contenteditable="true") #{translation}
    fieldset.active-tags
      legend Active tags
      .tagcloud
        .new-tag-button New tag
        each tag in activeTags
          .tag #{tag}
    fieldset.all-tags
      legend All tags
      .tagcloud
        each tag in allTags
          .tag #{tag}
