extends layout

block head
  link(rel="stylesheet", href="/stylesheets/screen-words.css")
  link(rel="stylesheet", href="/stylesheets/title.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  .title
    a.title-item.left(href="/") Menu
    .title-item.right Words: #{words.length}
  .dictionary
    .header.entry
      div Original
      div Tags
      div Translation
    each word in words
      a.entry(href="/word/edit/#{word.id}", data-word-id="#{word.id}")
        .original #{word.original}
        .tags #{word.tagNames().join(", ")}
        .translation #{word.translation}

