extends layout

block head
  link(rel="stylesheet", href="/stylesheets/screen-words.css")
  link(rel="stylesheet", href="/stylesheets/title.css")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  .title
    a.title-item.left(href="/") Menu
    .title-item.right Words: #{words.length}
  .dictionary
    each word in words
      a.entry(href="/word/edit/#{word.id}")
        .original #{word.original}
        .tags #{word.tags.map(function(value) { return value.name; }).join(", ")}
        .translation #{word.translation}

