extends layout

block head
  link(rel="stylesheet", href="/stylesheets/screen-words.css")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  .title
    a.back(href="/") Menu
    .stats Words: #{words.length}
  .words
    each word in words
      a.dictionary-entry(href="/word/edit/#{word.id}")
        .translation #{word.translation}
        .original #{word.original}
        .tags
          each tag in word.tags
            .tag #{tag.name}

